<div class="page-header">
  <h1>Users</h1>
</div>
<%= link_to raw("<i class='fa fa-rocket'></i> Join now!"), new_user_path, class: "btn btn-success" if current_user.nil? %>
<div class="row">
  <div class="col-md-6">
    <h3>The latest</h3>
    <%= render "list", users: @latest_users %>
  </div>
  <div class="col-md-6">
    <h3>The most active</h3>
    <%= render "list", users: @most_active_users %>
  </div>
</div>
<h3>All <small><%= pluralize(@users.count,"user") %></small></h3>
<table ng-app ng-controller="UsersController" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><a ng-click="click('username')"><i class="fa fa-sort"></i> Username</a></th>
      <th><a ng-click="click('created_at')"><i class="fa fa-sort"></i> Member since</a></th>
      <th><a ng-click="click('reviews')"><i class="fa fa-sort"></i> Number of reviews</a></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="user in users | orderBy:order">
      <td><a href="users/{{user.id}}">{{user.username}}</a></td>
      <td>{{user.created_at | date:'MMMM d, y'}}</td>
      <td><span class="badge">{{user.reviews.length}}</span></td>
    </tr>
  </tbody>
</table>
